/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  overflow-y: hidden; overflow-x: hidden;}
.spacer{
  flex: 1 1 auto;
}
.fondo{
  background: linear-gradient( #4a235a ,  #76448a , #af7ac5);
  color: white;
  height: 100%;
}
.img
{
  height: 400px;
  transition: transform 0.9s ease;
}
.img:hover
{
  transform: scaleX(0.9) scaleY(0.9);
  border-radius: 10px;
  transition-duration: 2s;
}

.dividir
{
  font-size: 15px;
  color: #4a235a;
}
